<div class="footer-container" fxLayoutAlign="center center" fxLayout="column">
    <div class="footer" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap.lt-sm="30px" fxLayoutAlign.gt-sm="center center">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div class="title">
          Yokyuel
        </div>
        <div class="info" fxLayout="column">
          <span>Debsi, Babesa</span>
          <span>Thimphu, Bhutan</span>
        </div>
        <div class="contact-info" fxLayoutGap="10px">
          <div class="contact-title">
            <span>Phone:</span> +975-77455740
          </div>
          <div class="contact-title">
            <span>Email:</span> drukbit.db@gmail.com
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div class="title">
          Useful Links
        </div>
        <div class="info" fxLayout="column">
          <ul>
            <li><a href="#home">Home</a> </li>
            <li><a href="#about-us">About Us</a> </li>
            <li><a href="#service">Services</a> </li>
            <li><a href="#job">Jobs</a> </li>
            <li><a href="#post">Posts</a> </li>
          </ul>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div class="title">
          Services
        </div>
        <div class="info" fxLayout="column">
          <ul>
            <li>Search </li>
            <li>Jobs </li>
            <li>Employer </li>
            <li>Social Services </li>
            <li>Other </li>
          </ul>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxLayoutAlign="start start" fxLayoutGap="15px">
        <div class="title">
          Join Our Newsletter
        </div>
        <div class="info" fxLayout="column" fxLayoutGap="15px">
          <span>Subscribe now and get daily update about job market</span>
          <div class="subs" fxLayoutGap.sm="5px" fxLayout.sm="column" fxLayout="row">
            <input placeholder="Email">
            <button mat-raised-button fxFlex="100">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="95" fxFlex.gt-sm="55">
        <div fxFlex="50" fxLayoutAlign="center start" fxLayout="column">
          <span> &copy; Copyright <strong><span>YOKYUEL</span></strong>. All Rights Reserved</span>
          <span class="design">
           Designed by Drukbit
         </span>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="20px">
          <div class="icon" fxLayoutAlign="center center"><fa-icon [icon]="facebook"></fa-icon> </div>
          <div class="icon" fxLayoutAlign="center center"><fa-icon [icon]="ig"></fa-icon> </div>
          <div class="icon" fxLayoutAlign="center center"> <fa-icon [icon]="mail"></fa-icon></div>
        </div>
      </div>
    </div>
</div>